<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.riding.springcloud.dao.DriverDao">
  <update id="updateAvailable">
      UPDATE `driver` SET `available` = #{value} WHERE `id` = #{id}
  </update>
    <select id="getDriverById" resultType="driver">
        SELECT * FROM `driver` WHERE `id` = #{id}
    </select>



</mapper>

